body {
    background-color: black;
    color: white;
    grid: 1;
    align-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

button {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 2px 5px;
}

.action_button {
    font-size: medium;
    font-weight: bold;
    border: 2px solid white;
}

#upload_div {

}

#controls {
    display: none;
}

#replay_canvas {
    display: none; /*ONLY SHOW THIS AFTER FILE IS LOADED: grid;*/
    grid-template-columns: auto 1fr;
    width: 100%;
    /* grid-template-columns: 1fr 1fr; */
}

#replay_canvas_current {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#current_turn_p1 {
    margin-right: 25%;
    margin-bottom: 20vh;
    text-align: center;
}

#current_turn_p2 {
    margin-bottom: 20vh;
    text-align: center;
} 

#current_turn_result_text_p1, #current_turn_result_text_p2 {
    font-size: 100%;
}
#current_turn_p1_text, #current_turn_p2_text {
    margin-bottom: 3vh;
    font-size: 500%;
    border-radius: 25px;
    padding: 10px;
}

#replay_canvas_history {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 2px solid white;
    border-radius: 10px;
    padding: 3px;
    margin-top: 15px;
    width: 150px;
    height: 80vh;
    overflow: scroll;
}


#p1_history, #p2_history, #history_turn_counter {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
}

#p1_history div, #p2_history div, #history_turn_counter div {
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#p1_history div {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#p2_history div {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#p1_history p, #p2_history p, #history_turn_counter button {
    text-align: center;
    place-content: center;
    background-color: black;
    font-size: medium;
    border: 0;
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
    /* width: min-content; */
}

#history_turn_counter button {
    cursor: pointer;
}
